:root {
    --font-family-sans: Fira Sans, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Nato Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-family-slab: Roboto Slab, serif;
    --font-family-mono: Ubuntu Mono, Ubuntu Monospace, Menlo, Consolas, Roboto Mono, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
}

body {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #554742;
    cursor: auto;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* ========= header logo ======== */

.header-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    width: 150px;
}


@media (min-width: 801px) {
    .header-logo-link {
        background: 0 0;
        border-bottom: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 0;
        width: auto;
    }
}


/* ============ nav page section =========== */

/* ============== main section ============== */

.main-section img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* =========== main heading ============ */
/* =========== main heading ============ */
/* =========== main heading ============ */

.main-heading {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  color: #574F4A;
  text-align: center;
  font-family: var(--font-family-sans);
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 3.2px;
  line-height: 42px;
  text-transform: uppercase;
}


/* ========= features section ============= */
/* ========= features section ============= */
/* ========= features section ============= */


.feature-section {
  font-family: var(--font-family-slab);
  padding: 2vw 2vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  gap: 0.75rem;
}


.text-content {
  flex: 1 1 60ch;
  padding: 1rem;
  order: 1; 
}


.text-content h2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  margin-bottom: 1rem;
}

.text-content h3 {
  margin-bottom: 0.75rem;
  color: #574F4A;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: .25px;

  

}

.text-content p {
  font-family: var(--font-family-sans);
  font-size: 18px;
  margin: 16px 0px;
  max-width: 70ch;
  font-weight: 500;

}

.text-content a {
  font-size: 16px;
  color: #333;
  font-weight: 300;
}

.image-content {
  flex: 1 1 590px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2; 
}

.image-content img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .feature-section {
    flex-direction: column;
    /* text-align: center; */
  }

  .feature-section h3{
    text-align: center;
    font-size: 28px;
  }

  .image-content {
    order: 1;
  }

  .text-content {
    order: 2;
  }

  .text-content,
  .image-content {
    flex: 1 1 100%;
  }
}

@media (max-width: 960px) {
  .feature-section {
    flex-direction: column;
    /* text-align: center; */
  }

  .feature-section h3{
    text-align: center;
    font-size: 28px;
  }

  .image-content {
    order: 1;
  }

  .text-content {
    order: 2;
  }

  .text-content,
  .image-content {
    flex: 1 1 100%;
  }
}



/* ========= other features section ============= */
/* ========= other features section ============= */

.other-features {
  padding: 4rem 2rem;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}



.features-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.feature-card {
  flex: 1 1 300px;
  max-width: 350px;
  text-align: center;
}

.feature-card img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.feature-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
  color: #3a2f2a;
}

.feature-card p {
  font-size: 1rem;
  color: #554742;
  line-height: 1.5;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .features-container {
    flex-direction: column;
    align-items: center;
  }

  .feature-card {
    max-width: 100%;
  }
}



/* ========= hardware section ============= */
/* ========= hardware section ============= */
/* ========= hardware section ============= */


.hardware-section {
  text-align: center;
  padding: 4rem 2rem;
  max-width: 1400px;
  margin: auto;
}

.hardware-section .subtitle {
  font-size: 0.9rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.hardware-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.hardware-card {
  background: #e6f7f7;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.hardware-card img {
  width: 15rem;
  height: auto;
  margin-bottom: 1rem;
}

.hardware-card h3 {
  margin-bottom: 2rem;
  color: #554742;
  font-size: 32px;
  line-height: 36px;
  font-family: var(--font-family-slab);
    font-weight: 400;
}

.hardware-card p {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.shop-btn {
  display: inline-block;
  background: #ffb400;
  color: #000;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.shop-btn:hover {
  background: #e09c00;
}


@media (max-width: 1024px) {
  .hardware-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .hardware-container {
    grid-template-columns: 1fr;
  }

  .hardware-card img {
    width: 200px;
  }
}


/* ========= about section =========== */
/* ========= about section =========== */
/* ========= about section =========== */



.about-section {
  text-align: center;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.about-subtitle {
  font-size: 0.9rem;
  font-weight: bold;
  color: #5a4a3d;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

/* .about-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #332b28;
  letter-spacing: 0.05em;
} */

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-align: left;
}

.about-image img {
  width: 100%;
  max-width: 550px;
  border-radius: 12px;
}

.about-text {
  max-width: 500px;
}

.about-text h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #3a2f2a;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 1.5rem;
}

.mission-link {
  font-weight: bold;
  font-size: 0.95rem;
  text-decoration: none;
  color: #332b28;
  border-bottom: 1px solid #332b28;
  padding-bottom: 2px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.mission-link:hover {
  color: #e09c00;
  border-color: #e09c00;
}



@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    text-align: left;
  }
}

/* ========== potential section ========== */
/* ========== potential section ========== */
/* ========== potential section ========== */

.potential-section{
  background: #e6f7f7;
  margin-bottom: 3rem;

}


    .section {
      text-align: center;
      padding: 50px 20px;
    }

    .section h2 {
      font-size: 28px;
      letter-spacing: 3px;
      font-weight: bold;
      margin-bottom: 15px;
      color: #333;
    }

    .section p {
      max-width: 600px;
      margin: 0 auto 25px;
      font-size: 16px;
      color: #444;
      line-height: 1.5;
    }

    .download-btn {
      display: inline-block;
      background-color: #ffb400;
      color: black;
      padding: 12px 30px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 3px;
      transition: background 0.3s;
      margin-bottom: 40px;
    }

    .download-btn:hover {
      background-color: #e0a200;
    }

    .features {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      flex-wrap: wrap;
    }

    .feature {
      text-align: center;
      width: 350px;
    }

    .feature img {
      width: 350px;
      margin-bottom: 10px;

    }

    .feature p {
      font-size: 18px;
      font-weight: 500;
      color: #333;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .features {
        flex-direction: column;
        gap: 40px;
      }
    }




    footer {
      background-color: #544a45;
      color: #ddd;
      padding: 40px 20px 20px;
      text-align: center;
    }

    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
    }

    .footer-links {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    .footer-column {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .footer-column a {
      text-decoration: none;
      color: #ddd;
      font-size: 15px;
      transition: color 0.3s;
    }

    .footer-subscribe {
      max-width: 300px;
      text-align: center;
      margin-bottom: 30px;
    }

    .footer-subscribe p {
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 1.4;
    }

    .subscribe-btn {
      display: inline-block;
      background-color: #00c8d7;
      color: #000;
      padding: 10px 25px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 4px;
      margin-bottom: 20px;
      transition: background 0.3s;
    }

    .subscribe-btn:hover {
      background-color: #00aebc;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 50px;
    }

    .social-icons a {
      color: #fff;
      font-size: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      text-decoration: none;
      transition: background 0.3s, color 0.3s;
    }

    .social-icons a:hover {
      background-color: #fff;
      color: #544a45;
    }

    .footer-bottom {
      margin-top: 10px;
      padding-top: 20px;
      font-size: 13px;
      color: #ccc;
    }

    .footer-bottom a {
      color: #ffb400;
      text-decoration: none;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .footer-links {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
      }

      .footer-column {
        align-items: center;
      }
    }