:root {
    --font-family-sans: Fira Sans, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Nato Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-family-slab: Roboto Slab, serif;
    --font-family-mono: Ubuntu Mono, Ubuntu Monospace, Menlo, Consolas, Roboto Mono, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 40px 20px;
    padding: 0;
}

/* =========== main heading ============ */
/* =========== main heading ============ */
/* =========== main heading ============ */

.main-heading {
  font-size: 1.8rem;
  color: #574F4A;
  text-align: center;
  font-family: var(--font-family-sans);
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 3.2px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-header {
    text-align: center;
    margin-bottom: 60px;
}

.intro-header h1 {
    font-size: 4em;
    color: #4a4a4a;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: var(--font-family-slab);
}

.intro-header p {
    font-size: 1.5em;
    color: #666666;
    line-height: 1.2;
    max-width: 600px;
    margin: 0 auto;
    font-family: var(--font-family-sans);
    text-align: left;

}

.product-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 20px;
}

.product-image-container {
    flex: 1;
    max-width: 700px;
    margin-right: 40px;
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
}

.product-details {
    flex: 1;
    max-width: 400px;
    padding-left: 20px;
}

.product-details h2 {
  text-align: left;
  color: #574F4A;
  font-family: var(--font-family-sans);
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 3.2px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.product-details h3 {
    font-size: 1.2em;
    color: #535353;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: var(--font-family-sans);

}

.product-details p {
    font-size: 1em;
    color: #555555;
    line-height: 1.6;
    font-weight: 500;
    font-family: var(--font-family-sans);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    width: 70%;
    margin-top: 80px;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.product-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    transition: transform 0.2s ease-in-out;

}


.ready-to-ship {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ffdf5d;
    color: #333;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 1.2em;
    z-index: 10;
}

.product-image-wrapper {
    text-align: center;
    padding-bottom: 20px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-image {
    max-width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 1.8em;
    font-weight: 500;
    color: #554755;
    margin-bottom: 15px;
    font-family: var(--font-family-sans);
}

.product-name .product-type {
    font-weight: 400;
    color: #8D817A;
    font-family: var(--font-family-sans);
}

.specs-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 0.95em;
    color: #554755;
    flex-grow: 1;
    font-family: var(--font-family-sans);
}

.specs-list li {
    margin-bottom: 8px;
    line-height: 1.4;
}

.price {
    font-size: 1.8em;
    font-weight: 300;
    color: #333;
    margin-bottom: 15px;
    font-family: var(--font-family-sans);
}

.klarna-info {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
    margin-bottom: 25px;
    font-family: var(--font-family-sans);
}

.klarna-price {
    font-weight: 700;
    color: #333;
    font-family: var(--font-family-sans);
}

.klarna-logo {
    vertical-align: middle;
    height: 1.8em;
    margin-left: 5px;
}

.learn-more {
    color: #f59a24;
    margin-left: 5px;
    font-weight: 500;
    font-family: var(--font-family-sans);
}

.buy-button {
    background-color: #f7b40b;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    margin-top: auto;
    font-family: var(--font-family-slab);
}

.buy-button:hover {
    background-color: #ffcf40;
}

/* Responsive Adjustments */
@media (max-width: 900px) {
    .product-section {
        flex-direction: column;
        text-align: center;
    }

    .product-image-container {
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 100%;
    }

    .product-details {
        padding-left: 0;
        max-width: 100%;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .product-card {
        padding: 20px;
    }

    .product-name {
        font-size: 1.5em;
    }

    .price {
        font-size: 1.7em;
    }

    .klarna-info {
        font-size: 0.85em;
    }

    .buy-button {
        padding: 10px 15px;
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .product-details h2 {
        font-size: 1.8em;
    }

    .product-details h3 {
        font-size: 1.1em;
    }
}

    /* ================ video section =============== */

    .video-section{
        padding: 5rem;
    }

      .video-container {
      position: relative;
      width: 80%;
      max-width: 1250px;
      margin: 0 auto 40px;
      aspect-ratio: 16 / 9; 
      overflow: hidden;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


    /* ========== footer section ========== */



    footer {
      background-color: #544a45;
      color: #dddddd;
      padding: 40px 20px 20px;
      text-align: center;
    }

    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
    }

    .footer-links {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    .footer-column {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-family: var(--font-family-sans);
      text-align: left;
      font-size: 30px;
  
    }

    .footer-column a {
      text-decoration: none;
      color: #ddd;
      font-size: 15px;
      transition: color 0.3s;
      padding: 0px 50px;
      font-size: 16px;
      font-weight: 500;
    }

    .footer-subscribe {
      max-width: 300px;
      text-align: center;
      margin-bottom: 30px;
    }

    .footer-subscribe p {
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 1.4;
      font-family: var(--font-family-sans);
      font-weight: 500;
    }

    .subscribe-btn {
      display: inline-block;
      background-color: #00c8d7;
      color: #000;
      padding: 10px 25px;
      text-decoration: none;
      border-radius: 4px;
      margin-bottom: 20px;
      transition: background 0.3s;
      font-family: var(--font-family-slab);
    }

    .subscribe-btn:hover {
      background-color: #88d7dd;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 50px;
    }

    .social-icons a {
      color: #fff;
      font-size: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      text-decoration: none;
      transition: background 0.3s, color 0.3s;
    }

    .footer-bottom {
      margin-top: 10px;
      padding-top: 20px;
      font-size: 13px;
      color: #ccc;
      font-family: var(--font-family-slab);
    }

    .footer-bottom a {
      color: #c98c00;
      text-decoration: none;
    }

    .copyright-para{
      font-size: 18px;
      margin: 0px 0px 6px;
      font-family: var(--font-family-slab);
    }

    /* Responsive */
    @media (max-width: 768px) {
      .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .footer-links {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
      }

      .footer-column {
        align-items: center;
      }

      .social-icons{
        gap: 30px;
      }
    }

    
/* =========== navbar =========== */
/* =========== navbar =========== */
/* =========== navbar =========== */

.header1 {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px 20px;
  position: relative;
}


.utilities a{
  color: #574f4a;
    font-weight: 800;
    padding: 0.5rem .3rem;
    text-decoration: none;
    font-family: var(--font-family-sans);
    font-size: 16px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.cart {
  display: none;  
}

.logo img {
  height: 45px;
  display: block;
  margin: 0 auto;  
}

.hamburger {
      font-size: 24px;
      cursor: pointer;
      background: none;
      border: none;
      display: block;
    }

.cart {
      font-weight: bold;
      font-size: 14px;
    }

.utilities {
      display: none;
      gap: 15px;
      font-size: 14px;
        top: 60px; 
    }

.utilities a {
      text-decoration: none;
      color: #574F4A;
    }

    
nav {
      display: none;
      margin-bottom: 38px;
      padding-top: 20px;
    }

nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;
      justify-content: center;
    }

nav ul li a {
      text-decoration: none;
      color: #574F4A;
      font-size: 16px;
      font-family: var(--font-family-sans);
    font-weight: 400;
    line-height: 1.5;
    padding: 12px 18px 18px;
    }


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e5e5e5;  
  z-index: 2000;
  display: none;
  flex-direction: column;
}

.overlay.active {
  display: flex;
}

.overlay-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  background: white;
}

.overlay-header img {
  height: 45px;
}

.overlay-header .close-btn {
  font-size: 26px;
  cursor: pointer;
}

.overlay-header .cart {
  font-weight: bold;
}

.overlay-content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.overlay-content input {
  width: 95%;
  padding: 1rem 0.5rem;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: var(--font-family-sans);
  font-size: 1rem;
  margin-left: 1rem;

}

.overlay-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overlay-content ul li {
  margin: 15px 0;
  font-size: 16px;
  font-family: var(--font-family-sans);
  color: #574F4A;
  padding: 3px 0px;
  padding-left: 1rem;

}

.overlay-content ul li a {
  text-decoration: none;
  color: #333;
}


    hr {
      margin: 20px 0;
      border: none;
      border-top: 1px solid #ccc;
    }

    
    @media (min-width: 600px) {
      .cart {
        display: block;
      }
    }

@media (min-width: 1024px) {
  header {
    flex-direction: column;
    padding: 10px 40px;
    position: relative;
     height: 90px;  
  }

  .logo img {
    height: 100px;
    margin-top: 45px;
  }

  .logo {
    position: absolute;  
    top: 10px;
    left: 50%;
    transform: translateX(-50%);  

  }

  nav {
    display: block;
    margin-top: 60px;  /
  }

  .utilities {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;

  }

  .hamburger,
  .overlay,
  header .cart {
    display: none !important;
  }
}
